# .gitignore
# Игнорировать папку с модулями Node.js
node_modules/

# Игнорировать файл с переменными окружения (содержит конфиденциальные данные)
.env

# Игнорировать файлы кэша npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
.yarn-cache/

# Игнорировать логи и временные файлы, если они появятся
logs/
*.log
*.tmp
*.DS_Store # macOS specific
Thumbs.db  # Windows specific

# Игнорировать другие специфичные для редакторов файлы
.vscode/ # Можно игнорировать, если вы не хотите делиться настройками рабочего пространства